.ExperiencePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
}

.TextArea h1 {
  color: #08fdd8;
  font-family: coolvetica, serif;
  letter-spacing: 3px;
  font-weight: 550;
  font-size: calc(60px + 6 * ((100vw - 320px) / 300));
  line-height: 1em;
  position: relative;
  margin-left: 20px;
}

.ExperiencePage {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 160px;
}

.Experience {
  display: flex;
  align-items: center;
  padding: 50px 10px 10px 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.research_experience {
  min-height: 100vh;
}

.scrolldown-right {
  color: #fff;
  position: absolute;
  right: -20px;
  bottom: 3rem;
  transform: rotate(90deg);
  font-size: 14px;
}

.scrolldown-right span {
  display: flex;
  animation: scroll 0.5s linear infinite alternate-reverse;
}

.ag-format-container {
  margin-top: 50px;
  width: 1142px;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 0;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #1a1919;
  overflow: hidden;
  position: relative;
}

.ag-courses-item_link_a {
  display: block;
  padding: 30px 20px;
  min-height: 225px;
  background-color: #1a1919;
  overflow: hidden;
  position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #000000;
}

.ag-courses-item_link_a:hover,
.ag-courses-item_link_a:hover .ag-courses-item_date {
  text-decoration: none;
  color: #000000;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(12);
}

.ag-courses-item_link_a:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(12);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;
  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #00ae9d;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.ag-courses-item_bg {
  height: 80px;
  width: 128px;
  background-color: #00ae9d;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@media only screen and (max-width: 930px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }

  .ag-format-container {
    width: 100%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

@media screen and (max-width: 825px) {
  .HomePage {
    display: flex;
    flex-direction: column;
  }

  .HomePage {
    display: block;
  }

  .ExperiencePage .resume-button {
    top: 0;
    left: 0.5rem;
    margin-top: 0.5rem;
    right: auto;
  }

  #ExperiencePage {
    left: 0;
  }

  .ExperiencePage {
    margin-left: 0;
  }
}
